@media (min-width: 360px) {
	.sc_icon{
		margin-left: 5%;
	}

	.wl_icon{
		margin-left: 25%;
	}
}

@media (min-width: 320px) {
	.sc_icon{
		margin-left: 10%;
	}

	.wl_icon{
		margin-left: 28%;
	}
}

/* Media for smaller devices */
@media screen and (min-width: 360px) {
	.sc_icon{
		margin-left: 5%;
	}

	.wl_icon{
		margin-left: 25%;
	}
}
