
/*FONTS*/
@font-face {
	font-family: 'Conv_FoglihtenDeH02';
	src: url('../fonts/FoglihtenDeH02.eot');
	src: local('☺'), url('../fonts/FoglihtenDeH02.woff') format('woff'), url('../fonts/FoglihtenDeH02.ttf') format('truetype'), url('../fonts/FoglihtenDeH02.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FoglihtenDeH02';
	src: url('../fonts/FoglihtenDeH02.eot');
	src: local('☺'), url('../fonts/FoglihtenDeH02.woff') format('woff'), url('../fonts/FoglihtenDeH02.ttf') format('truetype'), url('../fonts/FoglihtenDeH02.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Mission Gothic Thin';
	src: url('../fonts/Mission Gothic Thin.eot');
	src: local('☺'), url('../fonts/Mission Gothic Thin.woff') format('woff'), url('../fonts/Mission Gothic Thin.ttf') format('truetype'), url('../fonts/Mission Gothic Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MissionGothicRegular';
	src: url('../fonts/Conv_MissionGothicRegular.eot');
	src: local('☺'), url('../fonts/MissionGothicRegular.woff') format('woff'), url('../fonts/MissionGothicRegular.ttf') format('truetype'), url('../fonts/MissionGothicRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Mission Gothic Light';
	src: url('../fonts/Mission Gothic Light.eot');
	src: local('☺'), url('../fonts/Mission Gothic Light.woff') format('woff'), url('../fonts/Mission Gothic Light.ttf') format('truetype'), url('../fonts/Mission Gothic Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Mission Gothic Bold';
	src: url('../fonts/Mission Gothic Bold.eot');
	src: local('☺'), url('../fonts/Mission Gothic Bold.woff') format('woff'), url('../fonts/Mission Gothic Bold.ttf') format('truetype'), url('../fonts/Mission Gothic Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Mission Gothic Black';
	src: url('../fonts/Mission Gothic Black.eot');
	src: local('☺'), url('../fonts/Mission Gothic Black.woff') format('woff'), url('../fonts/Mission Gothic Black.ttf') format('truetype'), url('../fonts/Mission Gothic Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


	/*Thin design font*/
@font-face {
	font-family: 'Conv_Thin Design';
	src: url('../fonts/Thin Design.eot');
	src: local('☺'), url('../fonts/Thin Design.woff') format('woff'), url('../fonts/Thin Design.ttf') format('truetype'), url('../fonts/Thin Design.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*END FONTS*/


/*Fix para el parallax en Chrome*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .parallax{ 
        background-size:auto;
        background-position: center 0%;
    }
}

.no-pad{
	padding-left: 0;
	padding-right: 0;
}

html{
	/*overflow:hidden;*/
	overflow-x:hidden;
	height:100%;
	width: 100%;
	position: relative;
}

body{
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	overflow: auto;
	overflow-x:hidden;
	min-height: 100%;

}

div.wrap{
	height:100%;
	width: 100%;
	overflow:auto;
	overflow-x:hidden;
    white-space: nowrap;
    position:fixed;
    bottom:0;
    right:0;
}


a, a:active, a:focus {
	outline: none;
}

.rsOverflow{
	min-height: 100%;
}

img.rsImg, img.rsMainSlideImage{
	margin-top: 0px;
}

div.background_black{
	background-color:#000;
	opacity:0.4;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top:0;
	z-index: 1;
}

div.full_background{
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    /*z-index: -1;*/
    overflow: auto;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
div.store{
	background-image: url(../img/us.jpg);
}

div.pay{
	background-image: url(../img/img_pay.jpg);

}

div.deliver{
	background-image: url(../img/img_deliver.jpg);
}

.stretch {
    margin: auto;
    height:100%;
    width: 100%;
}

#triangleWrapper {
    width: 100%;
    height:100%;
    float:right;
}

.triangle-img {
	width: 0;
	height: 0;
	position:absolute;
	z-index: 2;
	border-top: 320px solid transparent;
	border-right: 1280px solid #fff;
	border-bottom: 0px solid transparent;
	bottom:0;
	opacity: 0.4;
    right: 0;

}

.segmentTriangle {
    width: 100%;
    height: 40%;
    right: 0px;
    bottom:0px;
    position: fixed;
    /*background: linear-gradient(to right bottom,  transparent 50%,white 50%);*/
    background: transparent;
    opacity: 0.4;
    z-index: 2;
}

.title-shirt{
	color: #fff;
	font-size: 70px;
	position: relative;
	float: left;
	margin-right: 90px;
	z-index: 1;
	top: -25px;
}

@media (max-width: 767px){
	.title-shirt{
		color: #fff;
		font-size: 30px;
		position: relative;
		float: left;
		z-index: 1;
		margin-right: 0;
		top:0;
	}
}

@media (min-width: 768px){
	.title-shirt{
		color: #fff;
		font-size: 70px;
		position: relative;
		float: left;
		margin-right: 90px;
		z-index: 1;
		top: -25px;
	}
}

div.cart-wish-container-mobile{
	height:auto;
	width:100%;
	position: absolute;
	bottom:15px;
	z-index: 1;
}

div.icons-container{
	height:auto;
	width:90px;
	float:right;
	padding-right:15px;
}

div.icons-container i{
	color:#fff;
}

.title-shirt-mobile{
	color: #fff;
	font-size: 30px;
	position: relative;
	float: left;
	z-index: 1;
	padding-left: 15px;
}

div.cart-wish-container{
	position: absolute;
	bottom:50px;
	right:60px;
}

.sc_icon{
	z-index: 20;
	bottom: 50px;
	color: white;
	position: absolute;

}

.wl_icon{
	z-index: 20;
	bottom: 50px;
	color: white;
	position: absolute;
}


h1.main_title{
	color: #fff;
	position:absolute;
	font-size: 100px;
	width: 100%;
	text-align: center;
	top:0;
}

.logo-slide{
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 888;
	width: auto;
	height: 150px;
}


div.background_white{
	background-color:#fff;
	height:100%;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.navbar-fixed-top{
	/*top:-120px;*/
}

nav{
	font-family: 'Conv_Mission Gothic Light', sans-serif;
}

@media (min-width: 768px){
	nav{
		height:90px;
	}

	.container-fluid{
		margin-top:17px;
	}

	img.nav-brand{
		height:45px;
		margin-top:-15px;
		width:auto;
	}
}

@media (max-width: 767px){
	nav{
		height:50px;
	}

	.container-fluid{
		margin-top:0px;
	}

	img.nav-brand{
		height:25px;
		width:auto;
		margin-top: -5px;
	}

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #fff;
        opacity: 0.7;
    }
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border: hidden;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default{
	background-color: transparent;
	border:hidden;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:#000;
	background-color: transparent;
	font-size: 18px;
}
.navbar-default .navbar-nav>.active>a:after {
	content: ' ';
	height: 0;
	position: absolute;
	opacity: 0.7;
	width: 0;
	border: 30px solid transparent;
	border-top-color: #fff;
	top: 73px;
	left: 50%;
	margin-left: -22px;
}
.navbar-default .navbar-nav>li>a{
	color:#000;
	font-size: 18px;
}

/*.nav >li > a{
	padding-left: 30px;
}*/

@media (max-width: 767px){
	.navbar-nav > li > a {
	    padding-bottom: 6px;
	    padding-top: 6px;
	}
}

@media (min-width: 768px){
	.navbar-nav > li > a {
	    padding-bottom: 15px;
	    padding-top: 15px;
	}

	.nav >li > a{
		padding-left: 10px;
	}
}

@media (min-width: 992px){
	.nav >li > a{
		padding-left: 25px;
	}
}

.headroom {
    transition: transform 200ms linear;
    -ms-transform: transform 200ms linear; /* IE 9 */
    -webkit-transform: transform 200ms linear; /* Chrome, Safari, Opera */
}
.headroom--pinned {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

div.menu-toggle{
	position:absolute;
	top:20px;
	left:40px;
	height:65px;
	width:100px;

}

.diamond_little{
	height: 140%;
}


div#deco{
	margin-top: -460px;
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
		z-index: 888;

}

/**
#deco{
	width: 300px;
	margin-left:-35px;
}
*/

div.text_toggle{
	position:absolute;
	top:70px;
	left:47px;
	height:45px;
	width:85px;
}

div.text_toggle h5{
	width:100%;
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:200;
	font-family: 'Conv_Mission Gothic Light', sans-serif;

}

/*right-floating-menu*/
div.right-floating-menu{
	top:120px;
	width:150px;
	background:transparent;
	position: fixed;
	right:25px;
	z-index: 888;

}

div.cart-icon i{
	font-size: 24px;
	color:#fff;
	float: right;
	cursor: pointer;
}

div.search-icon{
	margin-top: 20px;
}

div.search-icon i{
	font-size: 24px;
	color:#fff;
	float: right;
	clear: none;
	cursor: pointer;
}

div.search-icon input{
	background-color: transparent;
	color:#fff;
	border:hidden;
	float: left;
	clear: none;
	width: 120px;
	display: none;
}

div.search-icon ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
div.search-icon :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
div.search-icon ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
div.search-icon:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

.navbar-right li{
	text-transform: uppercase;
}

.wishlist{
	width: 70%;
	margin-left: -600px;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: #FFF none repeat scroll 0% 0%;
	color: #000;
	font-size: 16px;
	text-align: center;
	z-index: 1031;
	overflow-x: hidden;
}

/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: 'Conv_Mission Gothic Light', sans-serif;	
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#home,
#shirts,
#us,
#contact{
	/*background-size: cover;*/
}

/* Defining each section background and styles
* --------------------------------------- */
#home{
	/*background-image: url(../img/bg1.jpg);*/
}
#shirts{
	background-image: url(../img/white2.jpg);
	padding: 6% 0 0 0;
	position: relative;
}
#us{
	background-image: url(../img/us.jpg);
	background-repeat: repeat;
	position: relative;
}

#contact{
	background-image: url(../img/contact.jpg);
	padding: 6% 0 0 0;
	position: relative;
	z-index: -1;
	background-repeat: repeat;
	overflow: hidden;
}


.centered_div{
	margin: 0;
	position: relative;
    top: 50%;
    /*left: 50%;*/
    /*margin-right: -30%;*/
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 3;
}

/*History*/
#history{
	background-image: url(../img/shirtt.jpg);
	padding: 6% 0 0 0;
	position: relative;

}

.historia{
	z-index: 888;
}

.historia > p{
	color:white;
	text-align: center;
	font-size: 22px;
	filter: opacity(1); 
	transform: translate3d(0px, 50px, 0px) scale(0.8); 
	-ms-transform:
	-webkit-transform:
	transition: all 800ms ease-out 0s;
	-webkit-transition: all 800ms ease-out 0s;
    -moz-transition: all 800ms ease-out 0s;
    -o-transition: all 800ms ease-out 0s;
	position:relative;
}


div.shirt{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/**h1*/

#shirts h1{
	text-shadow: 1px 5px 20px #000;
	color: #fff;
	position:relative;
	top:50%;
	font-size: 90px;
	margin-top: -90px;
	width: 100%;
	text-align: center;
	z-index: 2;
}

#us h1{
	text-shadow: 1px 5px 20px #000;
	color: #fff;
	position:relative;
	font-size: 90px;
	top:50%;
	width: 100%;
	margin-top: -90px;
	text-align: center;
	z-index: 2;
}

#us a, #shirts a{
	text-decoration: none;
	height: 100%;
	z-index: 4;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}


#us a:hover, #shirts a:hover{
	text-decoration: none;
}

#contact h1,
#contact p{
	/*text-shadow: 1px 5px 20px #000;*/
	color: #fff;
}

#history h1{
	z-index: 2;
	text-align: center;
	position:relative;

}



.align-center{
	text-align: center;
}

/*Contact*/

.contact_info{
	z-index: 2;
	color: white;
	text-align: center;
}

.icon{
	padding: 15px 10px;
	font-size: 2em;

}

.text{
	font-family:'Conv_MissionGothicRegular',Sans-Serif;
	font-size: 2em;
}

.braggart_txt{
	letter-spacing: 0.090em;
	font-family:'Conv_Thin Design',Sans-Serif;
	font-size: 23pt;

}

#deco_up, #deco_down{
	margin: 0 auto;
	width: 70%;
}

/* This parent can be any width and height */
.block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
} 

/**-**/

.pp-easing {
    -webkit-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /* custom */
}

/*Slidebar*/
html.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-close{
	cursor: pointer;
}

/*Cart*/
div.cart-window{
	position: absolute;
	height:100%;
	background-color: #fff;
	width:50%;
	z-index: 1000;
	right:0;
}

h1.cart-header{
	color:#000;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	font-size: 24px;
	width: 100%;
	text-align: center;
}

.cart-window table{
	width:100%;
}

.cart-window table  thead  th{
	text-align: center;
}



div.color-square{
	border:solid 1px #000;
	height:50px;
	width:50px;
	margin:0 auto;
	display: table;
}

/*Cart*/

/*MIS PEDIDOS*/
table.pedidos{
	width: 100%;
	height:auto;
	color:#000;
	margin-top: 20px;
	margin-bottom: 20px;
}

table.pedidos > thead  tr  td{
	font-size: 22px;
	text-align: center;
}

table.pedidos > thead{
	border-bottom:solid 2px #000; 
}

table.pedidos tbody  tr  td{
	font-size:16px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

div.pedidos-container{
	height:auto;
	/*max-height: 500px;*/
	overflow: auto;
	overflow-x:hidden;
	position: relative;
}

div.pedidos-background{
	position:absolute;
	height:100%;
	width:100%;
	background-color: #fff;
	opacity: 0.7;
	top:0;
}
/*MIS PEDIDOS*/

/*Login form, Register form and Payment*/

.payment-form{
	/*margin-left: 15%;
	margin-top: 5%;*/
	overflow: auto;
	/*overflow-y:hidden;*/
}

@media (min-width: 320px) and (max-width: 767px){
	.payment-form{
		height: auto;
	}
}

@media(min-width: 768px){
	.payment-form{
		height:450px;
		overflow-y:hidden;
	}
}

.register-form > p,.login-form > p, .payment-form p.form{
	border-bottom: 1.5pt solid #000000;
	float:left;
	width: 100%;
}

.register-form label, .login-form label{
	color: #7F7F7F;
}

.payment-form label{
	color: black;
	}

.payment-form button{
	border-radius: 0;
	background-color: black;
	color: white;
	border: none;
	font-size: 16pt;
	float: right;
}

.button{
	border-radius: 0;
	background-color: black;
	color: white;
	border: none;
	font-size: 16pt;
}

@media(max-width: 768px){
	.payment-form input[type="text"] ,.payment-form input[type="password"],.login-form input[type="text"], .login-form input[type="password"],.register-form input[type="text"], .register-form input[type="password"] {
		font-size: 12pt;
		width: 80%;
	}

	.login-form, .register-form{
		margin-left: 15px;
		margin-right:15px;
	}
}

@media (max-width: 992px) and (min-width: 768px){
	.payment-form input[type="text"] ,.payment-form input[type="password"],.login-form input[type="text"], .login-form input[type="password"],.register-form input[type="text"], .register-form input[type="password"] {
		font-size: 14pt;
	}

	.login-form, .register-form{
		margin-left: 50px;
		margin-right:20px;
	}
}

@media (min-width: 992px){
	.payment-form input[type="text"] ,.payment-form input[type="password"],.login-form input[type="text"], .login-form input[type="password"],.register-form input[type="text"], .register-form input[type="password"] {
		font-size: 12pt;

	}

	.login-form, .register-form{
		margin-left: 50px;
		margin-right:20px;
	}
}

.login-form, .register-form{
		margin-top: 20%;
}

.payment-form input[type="text"] ,.payment-form input[type="password"],.login-form input[type="text"], .login-form input[type="password"],.register-form input[type="text"], .register-form input[type="password"] {
	text-align: left;
	position: relative;
	width: 90%;
	padding: 1%;
	background: transparent;
	margin-bottom: 2%;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	color: #000000;
	font-weight: 200;
	/*font-size: 12pt;*/
	outline: none;
	border: none;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}

@media (max-width: 992px) and (min-width: 768px){
	.payment-form a,.login-form a, .submit_reset_email, .register-form a{
		font-size: 14pt;
		width: 150px;
	}
}

@media (min-width: 992px){
	.payment-form a,.login-form a, .submit_reset_email, .register-form a{
		font-size: 12pt;
		width: 100px;
	}
}
.payment-form a,.login-form a, .submit_reset_email, .register-form a{
	padding: 3%;
	margin-bottom: 8%;
	background: #444444;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	color: #FFF;
	/*font-size: 12pt;*/
	outline: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-weight: 500;
	float: right;
	margin-right:0;
	/*width: 100px;*/

}

.input_reset_email{
	text-align: left;
	position: relative;
	width: 92%;
	padding: 1%;
	background: transparent;
	margin-bottom: 2%;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	color: #000000;
	font-weight: 200;
	font-size: 12pt;
	outline: none;
	border: hidden;
	border-bottom: 2px solid #000;
	-webkit-appearance: none;
}

.submit_reset_email{
	padding:10px;
	background: #444444;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	color: #FFF;
	font-size: 10pt;
	outline: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-weight: 500;
	margin-right:40px;
	width: 100px;
}


.login_sidebar a[type="button"]{
	padding: 3%;
	margin-bottom: 8%;
	background: transparent;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	color: #000;
	font-size: 12pt;
	outline: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-weight: 500;
	float: right;
	margin-right:15px;
	width: auto;
}

.login_sidebar a[type="button"]:hover{
	text-decoration: underline;
}

.hvr-sweep-to-right:before{
	background:#000;
}

.login-form a:hover, .register-form a:hover {
	/*background: #000;*/
	color: #fff;
}

.fa-times{
	float: right;
	margin-right:8%;
	margin-top: 5%;
	color: black;
	cursor:pointer;
}

.close_wl{
	margin-right:3%;
	margin-top: 2%;
}

.sb-left{
	 overflow-x: hidden;
}
.remove_prod{
	float: none;
	margin:0;
}

/*THE STORE*/

div.icon-container{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.8;
    height:150px;
    width:150px;
    margin:0 auto;
    display: table;
    opacity: 100;
}

div.icon-p p{
	color:#fff;
	font-family: 'Conv_Mission Gothic Light', sans-serif;
	font-weight: 200;
	font-size: 18px;
	text-align: center;
	width:250px;
	margin:0 auto;
	display: table;
	margin-top: 20px;
}

div.fabric{
	background-image: url(../img/shirt-icon.png);
	background-size: 100% auto;
	visibility: hidden;
}
div.payment{
	background-image: url(../img/credit-icon.png);
	background-size: 75% auto;
	visibility: hidden;
}
div.delivery{
	background-image: url(../img/box-icon.png);
	background-size: 70% auto;
	visibility: hidden;
}
/*THE STORE*/



/*SLIDER 2*/

/*Product info*/

.header-seccion-producto{
	text-align: center;
}

@media (max-width: 480px) and (min-width:320px){
	.product_info{
		width: 100%;
		margin-left: -100%;
	}

	.nombre-camisa{
		font-size: 16pt;
	}
}

@media (max-width: 767px) and (min-width:480px){
	.product_info{
		width: 90%;
		margin-left: -100%;
	}
}

@media (max-width: 992px) and (min-width: 768px){
	.product_info {
		width: 70%;
		margin-left: -100%;
	}

	.nombre-camisa{
		font-size: 16pt;
	}
}

@media (min-width: 992px){
	.product_info, .sidebar.left {
		width: 512px;
		margin-left: -512px;
	}

	.nombre-camisa{
		font-size: 18px;
	}
	
}

.sidebar.left, .product_info {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /*width: 512px;*/
  /*margin-left: -512px;*/
  background: white;
  color: black;
 /** padding: 30px;
  box-shadow: 0 0 5px black;**/
  font-size: 16px;
  text-align: center;
  z-index: 1031;
}

.nombre-camisa{
	/*font-size:18px;*/
	color:#000;
	font-family: 'Conv_Mission Gothic Light', sans-serif;	
	text-align: left;
	width: 100%;
}

.sidebar th{
	text-align: center;
}

#full-width-slider_shirt{
	height:270px;
}

#full-width-slider_shirt .rsOverflow{
	height:270px;
}

.txt-camisa{
	text-align: left;
	font-size: 14px;
	font-family: 'Conv_Mission Gothic Light', sans-serif;	
}

.precio-camisa{
	text-align: right;
	font-size: 16px;
	font-weight: 900;
	font-family: 'Conv_Mission Gothic Light', sans-serif;	
	width: 100%;
}

.img-size{
	height:100%;
	width:100%;
	/**background-image:url(../img/braggart_diamond_2.png);*/
	background-size:35px auto;
	background-position:center;
	background-repeat:no-repeat;
	border:solid 2px white;
}

button.boton-producto-agregar{
	color:#fff;
	background-color: #000;
	text-decoration: none;	
	height:35px;
	border: hidden;
	padding-left: 5px;
	padding-right: 5px;
}

button.boton-producto-agregar:hover{
	background-color: #333;
}

.color-square-shirt{
	height:25px;
	width:25px;
	float:left;
	clear:none;
	border: solid 1px #000;
	border-radius: 3px;
	margin-left: 5px;
	cursor: pointer;
}

.selectpicker{
	float:left;
	clear: none;
	display: inline-block;
	margin-left:15px;
	width: 120px;
}

/*Shopping cart*/
.sidebar.right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  background: white;
  color: black;
 /* padding: 30px;*/
 /* box-shadow: 0 0 5px black;*/
  font-size: 18px;
  text-align: center;
  z-index: 1031;
  overflow-x: hidden;
}

.sidebar.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 270px;
  background: rgb(68, 68, 68);
  color: white;
  padding: 30px;
  box-shadow: 0 0 5px black;
  font-size: 31px;
  text-align: center;
}

.sidebar.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 120px;
  background: rgb(68, 68, 68);
  color: white;
  padding: 30px;
  box-shadow: 0 0 5px black;
  font-size: 31px;
  text-align: center;
}

.sidebar{
	z-index: 1031;
	position:absolute;
	bottom:50px;
}

.shopping-cart{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: white;
	color: black;
	text-align: center;
	overflow-x: hidden;
	overflow-y:auto;
	z-index: 1031;
}


@media (min-width: 992px){
	.shopping-cart{
		width: 70%;
		font-size: 18px;
		margin-right: -70%;
	}	
}

@media (min-width: 320px) and (max-width: 480px){
	.shopping-cart{
		width: 100%;
		font-size: 14px;
		margin-right: -100%;
	}	
}


@media (max-width: 767px){
	.login_sidebar{
		width: 100%;
		margin-right: -100%;
	}
}

@media (max-width: 992px) and (min-width: 768px){
	.login_sidebar{
		width: 90%;
		margin-right: -100%;
	}
}

@media (min-width: 992px){
	.login_sidebar{
		width: 40%;
		margin-right: -70%;
	}
}

.login_sidebar{
	bottom:50px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	/*width: 40%;*/
	background: white;
	color: black;
	/* padding: 30px;*/
	/* box-shadow: 0 0 5px black;*/
	font-size: 18px;
	text-align: center;
	z-index: 1031;
	overflow-x: hidden;
	/*margin-right: -70%;*/
}

p.decoration{
	text-align: center;
	font-family:'Conv_FoglihtenDeH02',Sans-Serif;
	margin-top: -155px;
	color: white;
	font-size: 3.5em;
	z-index: 888;
}

.decoration{
	text-align: center;
	font-family:'Conv_FoglihtenDeH02',Sans-Serif;
	margin-top: -15px;
}

.Foglihten{
	font-family:'Conv_FoglihtenDeH02',Sans-Serif;
	margin-top: -6%;

}
/*END sLIDER 2*/

/*Chica: roja*/
span#s-t, span#s-t .csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
	background:#ffffff;
}

/*mediana verde*/
span#m-t{
	background:#ffffff;

}


span#l-t{
	background:#ffffff;

}

span#xl-t{
	background: #ffffff;
}
/*SHOPPING CART*/
.square {
    background: blue;
    width: 2vw;
    height: 2vw;
    float: right;
    right: -10px;
}

 .shirt_mini{
 	background-image: url(../img/blue-shirt.jpg);
 	width: 100%;
 	z-index: 1000;
 }

 table.shopping{
 	width:100%;
 }

 table.shopping td{
 	padding: 8px;
 	font-size: 16px;
 	color: black;
 }
 table.payment{
 	width: 100%;
 	color: black;
 }

 table.payment th{
 	font-size: 18pt;
 }

 .left_align{
 	text-align: left;
 }

.wrapper-dropdown-3{
	    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
	width: 270px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: white;
    color: #000;
    outline: none;
    cursor: pointer;
    float: left;

    /* Font settings */
    font-weight: normal;
    font-size: 16px;
    border-bottom: black solid 2px;
    text-align: left;

}
.wrapper-dropdown-3:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000;  /*arrow*/ 
}

.wrapper-dropdown-3 .dropdown{
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */
    text-align: left;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-3 .dropdown li:hover a {
    background: #F8F8F8;
}

/* Active state */
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-3.active:after {
    border-color: black transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-3.active {
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown
 {
    display: block;
}
.wrapper-dropdown-1, .wrapper-dropdown-2{
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 120px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: white;
    color: #000;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
    font-size: 16px;
}

.wrapper-dropdown-1:after, .wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000;  /*arrow*/ 
}

.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-2 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */
    text-align: left;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a, .wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
    z-index: 99;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a, .wrapper-dropdown-2 .dropdown li:hover a {
    background: #F8F8F8;
}

/* Active state */
.wrapper-dropdown-1.active .dropdown, .wrapper-dropdown-2.active .dropdown  {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after, .wrapper-dropdown-2.active:after {
    border-color: black transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active, .wrapper-dropdown-2.active {
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown,
.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown,
.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown
 {
    display: block;
}

.color-square-shirt-cart{
	height:25px;
	width:25px;
	clear:none;
	border: solid 1px #000;
	border-radius: 3px;
    margin:auto;
    cursor: pointer;
}

.cart_shirt{
	width: 150px;
	margin: 20px;
	margin-left:0;
	float:left;
}

.cart_name{
	clear: none;
    /*margin-top: 65px;*/
    margin-top: 35px;
}

.center{
	text-align: center;
}

@media (min-width: 320px) and (max-width: 481px){
	div.white_block{
		width: 100%;
		height:auto;
	}
}

@media (min-width: 482px){
	div.white_block{
		width: 70%;
		height: 450px;
	}
}

div.white_block{
	background-color: white;
	opacity: 0.7;
	z-index: 9999;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

select {
    padding:3px;
    margin: 0;
    background: #FFFFFF;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

}

.size, .qty{
	width: 100px;
	font-weight: normal;

}

.qty2{
	width: 50px;
	font-weight: normal;
	margin-left: -220px;
}

.state, .formPago{
	text-align: left;
	width: 92%;
	font-size: 12pt;
	font-weight: normal;
	background: transparent;
}
select::-ms-expand {
    display: none;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label.select {
	position:relative;
	display:inline;
	border: none;
}

label.select:after {
    content:'>';
    font:18px "Consolas", monospace;
    color:#000000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; 
    padding:0 0 2px;
    border:none;
    position:absolute;
    pointer-events:none;

}
label.select:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
	background:transparent;
    position:absolute;
    pointer-events:none;
    display:block;
}
.sb-style-overlay{
	z-index: 1032;
}


/*SVG PAINTING*/


.frontLetters{
	position:absolute;
    z-index:2;
    margin-left: -3px;
    margin-top: -3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform:translateX(-50%);
	transform: translateX(-50%);
	  height: 100%;

}

.shadow{
	position:absolute;
    z-index:1;
    opacity: 0.5;
    left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform:translateX(-50%);
	transform: translateX(-50%);
	  height: 100%;


}

svg {
  width: 100%;
  height: auto;
}

.hexagons, .tienda_hex{
  height: 100%; 
  	position:relative;
  	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 0;
	visibility: hidden;
}
.decoration_svg{
  	position:relative;
  	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}



.deco_bottom{
	margin-top: -20px;
}

.deco_top{
	margin-bottom: -30px;
}


.historia_svg{
	position: relative;
	z-index: 888;
	height: 250px;
/*	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;*/
}

.loader_dmnd {
	height: 100%; 
	position:relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: 50% 50% no-repeat black;
}

.ie_fix{
	-webkit-mask: url(#bLogo); 
	mask: url(#bLogo);
	clip-path: url(#bLogo);
}
/*RESET PASSWORD*/
div.reset-bg{
	background-color:#000;
	position:absolute;
	height:100%;
	width:100%;
	background-image:url("../img/dmd_braggart.png");
	background-position:70px 50px;
	background-repeat:no-repeat;
	background-size: 100px auto;
}

div.reset-form-container{
	width:500px;
	height:280px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-140px 0 0 -250px;
	background-color:white;
	border-radius: 5px;
}

div.reset-form-container > form{
	padding:15px;
}

div.reset-form-container > form > input[type="password"]{
	width: 100%;
	height:45px;
	font-family:'Conv_MissionGothicRegular';
	border: hidden;
	border-bottom:1px #000 solid;
	margin-top: 25px;
	font-size: 16px;
}

div.reset-form-container > form > input[type="submit"]{
	width: 20%;
	height:45px;
	font-family: 'Conv_MissionGothicRegular';
	margin-top: 50px;
	background-color: #000;
	color:#fff;
	border-radius: 2px;
	border: hidden;
	float: right;
	font-size: 16px;
}
/*RESET PASSWORD*/

.us_desc{
	margin-top:10%;
	position:relative;
	z-index:999; 
}
.centered_abs_div{
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	font-family:'Conv_Thin Design',Sans-Serif;
	z-index: 1;
}

.centered_abs{
	position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	z-index: 1;
	width: 100%
}

/*Efectos para IE*/
#shadows, #shirts_shadow{
  fill-opacity: 0;
}

#shirts_text, #us_text, #braggart_txt, #made_for_me_txt{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 8s forwards;
  fill-opacity: 0;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
#shirts_text, #us_text, #braggart_txt, #made_for_me_txt {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 8s forwards;
  -moz-animation: draw 8s forwards;
  -o-animation: draw 8s forwards;
  -ms-animation: draw 8s forwards;
  animation: draw 8s forwards;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}


#braggart_txt{
	font-family:'Conv_Thin Design',Sans-Serif;
}

#made_for_me_txt{
	font-family:'Conv_MissionGothicRegular',Sans-Serif;

}

.terms{
	text-decoration: underline;
	cursor:pointer;
}

p.conditions{
	border: none;
	font-size: 15px;
	text-align: left;
}

#a_reset_password{
	margin-top: -35px;
}


.terms-modal .modal-content {
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	min-height: 100%;
	padding: 100px 0;
	text-align: center;
}
.terms-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 2.5em;
}
.terms-modal .modal-content p {
	margin-bottom: 30px;
}
.terms-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
}
.terms-modal .modal-content ul.list-inline {
	margin-bottom: 30px;
	margin-top: 0;
}
.terms-modal .modal-content img {
	margin-bottom: 30px;
}
.terms-modal .close-modal {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: transparent;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index:1053;
	color: black;
}
.terms-modal .close-modal:hover {
	opacity: .3;
}

.terms-modal .modal-backdrop {
	opacity: 0;
	display: none;
}



.pedidos-link{
	color: black;
	font-weight: bold;
}

p.payments{
	font-size: 18px;
}